/*
| Browser/mail images
*/
#gmail, #macmail, #skype, #chrome, #ff, #safari, #opera, #ie {
  text-decoration:none;
  background-image:url('/img/browser-spritesheet.png');
  background-repeat: no-repeat;
  width:32px;
  height:32px;
  text-indent: 38px;
  display: -webkit-box; display: -moz-box; display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;  
}
#gmail { background-position: 0 0; }
#macmail { background-position: 0 -32px; }
#skype { background-position: 0 -61px; }
#chrome { background-position: 0 -92px; }
#ff { background-position: 0 -123px; }
#safari { background-position: 0 -220px; }
#opera { background-position: 0 -155px; }
#ie { background-position: 0 -188px; }
