/*
| Frames
*/
#contentFrame h2, h3 {
  font-family: 'Croissant One', cursive;
}
#contentFrame {
  display:none;
  list-style:none;
  padding: 5px;
  width:100%;
  min-height: 300px;
  position: relative;
}
.landing { padding:0 1em 1em 1em; margin-top:0; }
/*
| Feeds
 */
.feedStyle {
  vertical-align:top;
  padding:10px;
}
/*
| Image Matrix:  http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/
*/
.boxWrapper {
  overflow: hidden;
  margin: 10px;
}
.boxOuter {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}
.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.boxInner img {
  width: 100%;
}
.boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/*
| List Carousel
*/
.list-carousel {
  padding: 15px 18px 15px 18px;
}
.list-carousel ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
.list-carousel li {
  font-size: 12px;
  color: #666;
  background-color: #ddd;
  text-align: center;
  border: 5px solid #bbb;
  width: 158px;
  height: 158px;
  padding: 0;
  margin: 2px;
  display: block;
  float: left;
}
/*
| List Text
*/ 
.list-text {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: .5em;
  margin: 0;  
}
.block1 {
  text-align: left;  
  list-style:none;
}
.block2 {
  text-align: center;
  list-style:none;  
}
.block3 {
  text-align: right;
  list-style:none;  
}
/*
| Sticky notes
*/
.note-font {
  font-family: 'Special Elite', cursive;
}
.notes {
  width:50%;
  margin: 50px auto;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 10px 10px 20px rgba(0,0,0,.15);
  -moz-box-shadow: 10px 10px 20px rgba(0,0,0,.15);
  box-shadow: 10px 10px 20px rgba(0,0,0,.15);
  background-color: #fcf59b;  
  font-family: 'Special Elite', cursive;
}
.notes li {
  list-style: square;
  color: #2972A3;
  line-height: 1em;
  margin-bottom: 10px;
}
/*
| Carousel controls
*/
.controls {
  z-index: 5;
  list-style: none;
  position: fixed;
  margin:0;
  margin-left: auto;
  margin-right: auto;
  top:0; 
  left: 50%; 
  height:30px !important;  
  padding:5px 0 0 0;
}
#ctrls1, #ctrls2, #ctrls3, #ctrls4, #ctrls5, #ctrls6 {   
  display: inline-block;
  text-decoration:none;
  background-image:url('/img/controls-spritesheet.png');
  background-repeat: no-repeat;    
  width:24px !important; 
}
#ctrls1 { background-position: 0 0; }
#ctrls2 { background-position: 0 -50px; }
#ctrls3 { background-position: 0 -100px; }
#ctrls4 { background-position: 0 -150px; }
#ctrls5 { background-position: 0 -200px; }
#ctrls6 { background-position: 0 -249px; }

#linkedin, #github, #google, #stackoverflow, #youtube, #twitter , #flickr, #blogger, #zazzle, #ebay, #grooveshark, #meetup, #coderbits, #picassa, #fandango, #yelp, #icloud, #vimeo, #netflix, #skype, #gnerdl, #carou22, #carou23, #carou24, #carou25 {   
  display: inline-table;
  text-decoration:none;
  background-image:url('/img/carousel-spritesheet2.png');
  background-repeat: no-repeat;  
  width:128px; height:128px;
}
#carou1 { background-position: 0 0; }
#fandango { background-position: 0 -128px; }
#ebay { background-position: 0 -256px; }
#blogger { background-position: 0 -386px; }
#coderbits { background-position: 0 -512px; }
#flickr { background-position: -128px 0; }
#github { background-position: -128px -128px; }
#google { background-position: -128px -256px; }
#grooveshark { background-position: -128px -386px; }
#linkedin { background-position: -128px -512px; }
#netflix { background-position: -256px 0; }
#picassa { background-position: -256px -128px; }
#skype { background-position: -256px -256px; }
#icloud { background-position: -256px -386px; }
#meetup { background-position: -256px -512px; }
#stackoverflow { background-position: -386px 0; }
#twitter { background-position: -386px -128px; }
#vimeo { background-position: -386px -256px; }
#yelp { background-position: -386px -386px; }
#zazzle { background-position: -386px -512px; }
#youtube { background-position: -512px 0; }
#gnerdl { background-position: -512px -128px; }
#carou23 { background-position: -512px -256px; }
#carou24 { background-position: -512px -386px; }
#carou25 { background-position: -512px -512px; }

@media only screen and (max-width : 480px) {
  /* Smartphone view: 1 tile */
  .boxOuter {
    width: 100%;
    padding-bottom: 100%;
  }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
  /* Tablet view: 2 tiles */
  .boxOuter {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  /* Small desktop / ipad view: 3 tiles */
  .boxOuter {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  /* Medium desktop: 4 tiles */
  .boxOuter {
    width: 25%;
    padding-bottom: 25%;
  }
}
