@import url(http://fonts.googleapis.com/css?family=Croissant+One|Special+Elite|Droid+Sans);
 /**{ border: 1px solid red !important; } useful layout tool - comment when not needed*/
body
{
	font-family:'Droid Sans', sans-serif;
	color:#555;
	line-height: 25px;
  background-color: #ccc;
  min-width: 320px;
  height: 100%;
  margin:0;
}
/* for legacy browsers - wnew html5 tags wont break layout */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
hr { border-radius:0; margin-top:0; }
.separator { background-color: #555; height:36px; margin-bottom:0; }
/*
| Layout
*/
aside {
  float: right;
  border: 1px #aaa solid;
  background-color: #eee; 
  font-size: 80%;
  padding: 3px;
  margin: 3px 0 10px 10px;
  border-radius: 5px;
  min-width: 140px;
  z-index:10000;
  
}
#legend  {
  position: relative;
}
#aside {
  position: fixed;
  top: 5px;
  right: 16px;
}
.main {
  padding: 1em;
  overflow: auto;
  background: -webkit-linear-gradient(bottom, #81adcb, #ccc 70%);
  background: -moz-linear-gradient(bottom, #81adcb, #ccc 70%);
  background: -o-linear-gradient(bottom, #81adcb, #ccc 70%);
  background: -ms-linear-gradient(bottom, #81adcb, #ccc 70%);
  background: linear-gradient(bottom, #81adcb, #ccc 70%);  
}
.content {
 display: inline !important;
 padding: 0 5px 5px 5px;
}
/*
| Links
*/
abbr[title], dfn, .def { 
  border-bottom: 1px dotted;
  text-decoration:none;
  background-color:#f6a828;
  color: #000;
  padding:0 3px 0 3.5px;
  border-radius: 3px 3px 0 0;
} 
.href {
  color: blue;
}
.href-orig {
  color: #3dc1ff;
}
.href-aside {
  color: blue;
  border-bottom: 1px solid blue;
}
.href-aside-orig {
  color: #3dc1ff;
  border-bottom: 1px solid #3dc1ff;
}
.href:visited {
  color: purple;
}
.href-orig:visited {
  color: #2972A3;
}
.visited-aside {
  color: purple;
  border-bottom: 1px solid purple;
}
.visited-aside-orig {
  color: #2972A3;
  border-bottom: 1px solid #2972A3;
}
.href:hover {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
a.href-orig:hover {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
.hover-aside {
  color: #fff; 
  text-shadow: 1px 1px 2px #000;
  background-color: #777;
  padding: 0 2px;  
}
/*
|Wrapper
*/
header {
  background-color: #81adcb;
}
.wrapper {
  width:100%;
  margin: 0 auto;
  background-color: #ccc; 
}
.wrapper>header {
	font-family: 'Croissant One', cursive;
	background-image:url(/img/logoback.png);
	background-repeat:no-repeat;
	background-position:center;
	text-shadow:2px 1px 0 #fff;
	padding: 1em;
	margin: 0;
}
.wrapper>header h1 {
	font-size: 32pt;
	margin: 40px 0 12px 0;
	letter-spacing: 2px;
	color:#666;
}
.wrapper>header h2 {
	color:#444;
	letter-spacing: 2px;
	margin: 20px 0 10px 0;
}
.wrapper>header h3 {
  color:#222;
	letter-spacing: 2px;
	margin: 12px 0 10px 0;
}
h4 {
  color:#444;  
  font-family: 'Croissant One', cursive; 
}
/*
| Navigation
*/
.current, li.current:hover {
	color: darkorange !important;
  display:block; 
  text-decoration: none;
  background-color: #333 !important; 
  background-repeat:repeat;
}
.container {
  margin : 1em;
}
ul#nav{ 
  font-size: 12px !important;
  width: 100%;
  background-color: #555;
  margin:0;
  padding:0;
}
ul.drop a { display:block; text-decoration: none; text-shadow: none; color: #fff;} 
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; background: #333; color: #fff;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; vertical-align: middle; padding: 5px 10px; color: #555; }
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default; background: #0b75b2; } 
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; background: #333; }
ul.drop ul li { float: none; width: 103px}
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible } 
/*
| Misc
*/
.control-bg { 
  background-color:#555;
  height:35px; 
}
.access-link {text-indent:-9999em; display:inline-block; font-size: 0; vertical-align: top;}
.hilited { background-color: yellow; }
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.hide { display:none; }
.display{ position:relative; }
.transparent { opacity: 0 }
.to-right { float:right !important; }
.to-left { float:left !important; }
.to-center { text-align: center; }
.to-top { vertical-align: top; }
.to-middle { vertical-align: middle; }
.to-bottom { vertical-align: bottom; }
.to-tbottom { vertical-align: text-bottom; }
.no-overflow { overflow:hidden !important; }
.shim { 
  margin-bottom:1em; 
  position:absolute;
}
.nolist { 
  list-style:none; 
  margin: 0;
  padding: 0;
}
.white { color: #fff; }
.black { color: #000; }
.bg-light { background-color: #eee; padding: 0 2px; }
.bg-dark { background-color: #333; padding: 0 2px;}
.pbox { background-color: #eee; padding: 0; margin:0; border: 2px solid #3dc1ff; }
.small { font-size: 75%; }
.reset {margin:0;padding:0;}
.clear-fix {
  float: none;
  clear: both;
}
.pad{ 
  background-image:url(/img/logoback.png);
  background-repeat: no-repeat;
  background-position:left; 
  opacity:.5;
}
/*
|Status 
 */
#nickHide, #nickButton, #info, #help {
  display: inline-table;
  text-decoration:none;
  background-image:url('/img/status-spritesheet.png');
  background-repeat: no-repeat;
  width:19px;
  height:19px;
}
#nickSpan { padding:4px; }
#nickHide { background-position: 0 0; }
#nickButton { background-position: 0 -26px; }
#info { background-position: 0 -56px; }
#help { background-position: 0 -88px; }
/*
| Footer
*/
.copy {
  padding: 5px 10px;
  color: #eee;
  font-style: italic;
  font-size: 75%;
  display:block; 
  text-decoration: none;
  background-color: #555 !important;
  background-repeat:repeat;
}

/* end ------------------------ */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
