@import url(http://fonts.googleapis.com/css?family=Croissant+One|Special+Elite|Droid+Sans);
/* *{ border: 1px solid red !important; } useful layout tool - comment when not needed*/
body
{
	font-family:'Droid Sans', sans-serif;
	color:#555;
	line-height: 25px;
  background-color: #eee;
  min-width: 575px;
  height:100%;
  margin:0;
}
/* for legacy browsers - wnew html5 tags wont break layout */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

abbr[title], dfn, .def { border-bottom: 1px dotted; text-decoration:none; color: #f6a828; }
hr { border-radius:0; margin-top:0; }
/*
| Layout
*/
aside {
  float: right;
  border: 1px #ccc solid;
  background-color: #ddd; 
  font-size: 80%;
  padding: 5px;
  margin: 5px 15px 5px 15px;
  border-radius: 5px;
  min-width: 100px;
}
.main {
  padding: 1em;
}
.content {
 display: inline !important;
 padding: 0 5px 5px 5px;
}
/*
| Links
*/
a, .href { 
	color: #3dc1ff;
	text-decoration:underline; 
}
a:visited, .visited {
	color: #2972A3; 
	text-decoration:none;
}
a:hover, .hover {
	color: #fff; 
  text-shadow: 1px 1px 3px #000;
}
/*internal linking
a[href*="8888"]:after,
a[href*="pagodabox"]:after, 
a.onsite:after {
  content: "";
}*/
/*external linking 
a[href^="http"], buggy */
a.offsite:after {
  color: #2972A3;
  content: "\21D2";
  font-size: 15px;
}
/*
|Wrapper
*/
.wrapper {
  width:100%;
  margin: 0 auto;
  background-color: #eee;
  background: -webkit-linear-gradient(bottom, #2972A3, #eee 70%);
  background: -moz-linear-gradient(bottom, #2972A3, #eee 70%);
  background: -o-linear-gradient(bottom, #2972A3, #eee 70%);
  background: -ms-linear-gradient(bottom, #2972A3, #eee 70%);
  background: linear-gradient(bottom, #2972A3, #eee 70%);
}
.wrapper>header {
	font-family: 'Croissant One', cursive;
	background-image:url(/img/logoback.png);
	background-repeat:no-repeat;
	background-position:right;
	text-shadow:2px 1px 0 #fff;
	padding: 1em;
	margin: 0;
}
.wrapper>header h1 {
	font-size: 32pt;
	margin: 20px 0 12px 0;
	letter-spacing: 2px;
	color:#aaa;
}
.wrapper>header h2 {
	color:#888;
	letter-spacing: 2px;
	margin: 20px 0 10px 0;
}
.wrapper>header h4 {
	letter-spacing: 2px;
	margin: 12px 0 10px 0;
}
/*
| Navigation
*/
.current, li.current:hover {
	color: #f6a828 !important;
  display:block; 
  text-decoration: none;
  background-color: #555 !important;
  background-repeat:repeat;
}
.container {
  margin : 1em;
}
ul#nav{ 
  font-size: 12px !important;
  width: 100%;
  background-color: #333;
  margin:0;
  padding:0;
}
ul.drop a { display:block; color: #aaa; text-decoration: none; text-shadow: none; }
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; background: #555; color: #fff;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; vertical-align: middle; padding: 5px 10px; color: #333; }
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default; background: #0b75b2; }
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; background: #555; }
ul.drop ul li { float: none; width: 103px}
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible } 
/*
| Misc
*/
.hilited { background-color: yellow; }
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.reset {margin:0;padding:0;}
.hide { display:none; }
.display{ position:relative; }
.transparent { opacity: 0 }
.to-right { float:right !important; }
.to-left { float:left !important; }
.to-center { text-align: center; }
.to-top { vertical-align: top; }
.to-middle { vertical-align: middle; }
.to-bottom { vertical-align: bottom; }
.no-overflow { overflow:hidden !important; }
.shim { 
  margin-bottom:1em; 
  position:absolute;
}
.nolist { 
  list-style:none; 
  margin: 0;
  padding: 0;
}
/*
| Footer
*/
.copy {
  color: #fff;
  font-style: italic;
  text-align:center;
  font-size: 85%;
  text-shadow: 1px 1px 4px #000;
}

/* end ------------------------ */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
