/*
| resume.blade.php styles
| for resume only
*/

h1,h2,h3,h4,h5,h6 {
	font-family:'Droid Sans', sans-serif;
	margin:1px;
}
	.group { zoom: 1; }
/* Layout helpers */
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
/* Interaction Cues */
.ui-state-disabled {
	cursor: default !important;
}
/* Overlays */
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
	overflow: auto;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-widget-content {
	border: 1px solid #c77405;
	background: #eee;
	color: #333;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #555;
	background: #aaa;
	font-weight: normal;
	color: #333;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999;
	background: #0b75b2;
	font-weight: normal;
	color: #fff;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #c77405;
	background: #f5ab31;
	font-weight: bold;
	color: #333;
}