/*
| Tools images
*/
#yslow, #w3c, #html5 {
  text-decoration:none;
  background-image:url('/img/tools-spritesheet.png');
  background-repeat: no-repeat;
  display: -webkit-box; display: -moz-box; display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center; 
}
#yslow { background-position: 0 0; width:42px; height:28px; text-indent: 40px;}
#w3c { background-position: 0 -32px; width:87px; height:28px; text-indent: 85px;}
#html5 { background-position: 0 -65px; width:87px; height:34px; text-indent: 95px;}

.bottom-shim {
  padding-bottom: 10px;
}