.sign-reg,.reg-sign {
  background:#ddd;
  float:left;
  margin-right:1em;
  padding:.5em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.required {
  color:#b94a48;
  border:1px #b94a48 solid;
  background-color:#fff;
  display:inline;
  padding: 4px;
  vertical-align:middle;
}
.lorem-text {
    padding-bottom:15em;
    margin:0;
    width:85%;
}
.lighter-text {
  color:#aaa;
}
#so-google, #so-facebook {   
  display: inline-table;
  text-decoration:none;
  background-image:url('/img/connect-spritesheet.png');
  background-repeat: no-repeat;    
  height:24px;
}
#so-google { background-position: 0 0; width:163px;}
#so-facebook { background-position: 0 -30px; width:69px; }