<p class="reset">2009-2011. Complete tracking system involving grant applications from inception through five years of progress reporting and potential monetary recapture. 
Multi-user access control included applicants, reviewers (both technical and process), process owners, stakeholders, auditors, reort consumers, and super-users 
to access different areas of the application. The process involved deadlines for review, award, and recapture; automatic review assignment and email reminders; 
and voluminous reporting - including jobs created data forwarded directly to the administration. This is by far the most complex application I have developed
to date, resulting in a President's Award from NREL.
</p>

<ul class="inside">
	<li class="nolist">Technologies</li>
	<ul>
		<li>Database: SQL Server</li>
		<li>Scripting: ColdFusion</li>
		<li>Documentation: DokuWiki</li>
		<li>Bug Reporting: Trac</li>
		<li>Version Control: Subversion</li>
	</ul>	
</ul>
