<p class="reset">2003-2007. The Energy Title of the 2002 Farm Bill included Section 9006, which directed the Secretary of Agriculture to create a program to help farmers, 
ranchers and rural small businesses pay for renewable energy and energy efficiency projects (Union of Concerned Scientists). <a href="http://www.ucsusa.org/clean_energy/smart-energy-solutions/strengthen-policy/renewable-energy-provisions.html" class="offsite" target="_blank">
Read more...</a> NREL sponsored the program's online technical review and funding recommendation management system. The site enabled applications processing
and review along with customizable ad-hoc reporting. Each year, new applications were received through a new portal that separated them by date. Reporting could be 
aggregated across all year sets or filtered.  
</p>

<ul class="inside">
	<li class="nolist">Technologies</li>
	<ul>
		<li>Database: SQL Server</li>
		<li>Scripting: ColdFusion</li>
		<li>Data-driven Flash map</li>
	</ul>	
</ul>
